streamlit
langchain
python-dotenv
langchain-community
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain-text-splitters
langchain-openai
chromadb
langchain_huggingface
faiss-cpu
langchain_chroma
duckdb
openai
langchain-groq
sentence_transformers